/* Login.css */
.login-container {
  background-image: url('../assets/HJ_background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

